.basket-img{
  background: url('../img/atv.jpg') no-repeat;
  /* opacity: 0.8; */
  width: 100%;
  height: 20rem;
  background-size: 100% 20rem;
  background-position: center;
  box-shadow: 0px 5px 5px rgba(0,0,0,.15);
}

.shopping-list {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
}

.input-group {
  border-bottom: 0.5px solid rgb(218, 218, 218) !important;
}

.input-group-text {
  background-color: white !important;
  border: none !important;
  padding-right: 2rem !important;
}

.input-group img {
  height: 8rem;
  width: 10rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.basket-list {
  height: 8rem;
  line-height: 2rem;
  cursor: pointer;
}

.basket-list p {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.checked-price {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: left;
  color: crimson;
}

.btn-delete {
  color: crimson !important;
  font-size: 0.9rem !important;
}
