.notice-img{
    background: url('../img/Kayaking.jpg') no-repeat;
    /* opacity: 0.8; */
    width: 100%;
    height: 20rem;
    background-size: 100% 20rem;
    background-position: center;
}

.notice {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
}

.notice-main .btn-regist {
  color: crimson;
  font-size: 0.9rem;
}

tbody :hover{
    background-color: rgb(247, 247, 247);
}

.table {
  margin-bottom: 3rem;
  table-layout: fixed;
}

.table-num {
  width: 20%;
}

.table-title {
  width: 60%;
}

.table-date {
  width: 20%;
}

.notice-title {
  text-align: left;
  cursor: pointer;
  text-overflow:ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.pagination{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}