.post-img{
    background: url('../img/Paragliding.jpg') no-repeat;
    /* opacity: 0.8; */
    width: 100%;
    height: 20rem;
    background-size: 100% 20rem;
    background-position: center;
}

.card img{
    border-radius: 5px;
}

.nav-info{
    background-color: white;
    border-bottom: 0.5px solid rgb(218,218,218);
}

.info-link{
    color: black;
    font-weight: bold;
}

h4{
    margin-bottom: 1rem;
    font-weight: bold;
}

.fa-heart {
    cursor: pointer;
}

.review-button {
cursor: pointer;
}